.c-item{
    height:600px;
}

.c-img {
    height:100%;
    width:100%;
    object-fit: cover;
}

.c-slide{
    width:100%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}
